

/* side bar style*/
.main-container{
    position: relative;
}

.card{

    display:grid;
    height:auto;
    border:1px solid lightgray;
    grid-gap:10px;
    width:60%;
    margin-top: 20px;
       
  }



  .img-part{grid-area: picture;}

  .text-part{grid-area:text;}


.card img{
    width:100%;
    height:auto;
}

.card p{
    padding:auto;
}
/*
.first-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    border:1px solid black;
    margin-top:20px;
}

.first-card img{
    width:%;
}

.first-card p{
    width:30%;
    margin:10px;
}*/


   @media screen and (max-width:768px){
		.card{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
        grid-gap:20px;
        width:100%;
        grid-template-areas: 
              "picture"
				"text";	    
        }
    }
       /* .sidebar {
            height: auto;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            transform: translate(-100%, 0%);
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
          }
          
          .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .sidebar a:hover {
            color: #f1f1f1;
          }
          
          .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
          
          .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
          }
          
          .openbtn:hover {
            background-color: #444;
          }
          
          .main-container{
            transition: margin-left .5s;
            padding: 16px;
          }


   }*/

   @media screen and (min-width:768px) and (max-width:960px) {

        .card
        {		grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                grid-gap:20px;
                width:100%;
                grid-template-areas:
                
                "picture text"
        }

       /* .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
          }
          
          .sidebar a {
            padding: 8px 8px 8px 8px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .sidebar a:hover {
            color: #f1f1f1;
          }
          
          .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
          
          .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
          }
          
          .openbtn:hover {
            background-color: #444;
          }
          
          .main-container{
            transition: margin-left .5s;
            padding: 16px;
          }*/
    }

@media screen and (min-width:960px) and (max-width:1200px){
        
	 .card
        {		grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                grid-gap:20px;
                width:100%;
                grid-template-areas:
                
                "picture text"
        }
       /* .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: auto;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
          }
          
          .sidebar a {
            padding: 8px 8px 8px 8px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .sidebar a:hover {
            color: #f1f1f1;
          }
          
          .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
          
          .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
          }
          
          .openbtn:hover {
            background-color: #444;
          }
          
        .main-container{
            transition: margin-left .5s;
            padding: 16px;
          }*/
    }

   @media screen and (min-width:1200px){

    .card
    {		grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap:20px;
            grid-template-areas:
            
            "picture text"
    }
}